[Unit]
Description = 'node_exporter'
Wants=network-online.target
After=network-online.target

[Service]
User={{ userId }}
Group={{ groupId }}
Restart=on-failure
Type=simple
ExecStart=/usr/local/bin/node_exporter-1.8.2.linux-arm64/node_exporter

[Install]
WantedBy=multi-user.target
