[Unit]
Description = 'prometheus'
Wants=network-online.target
After=network-online.target

[Service]
User={{ userId }}
Group={{ groupId }}
Restart=always
Type=simple
ExecStart=/usr/local/bin/prometheus-3.0.1.linux-arm64/prometheus --config.file=/etc/prometheus/prometheus.conf --storage.tsdb.path=/data/prometheus 

[Install]
WantedBy=multi-user.target
